.container {
  position: absolute;
  top: -17px;
  left: 0;
  width: 100%;
}
.time-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: -15px;
}
.start {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}
.end {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}
