.info-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 250px;
}
.info-wrapper {
  display: flex;
}
.text-block {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.title {
  font-size: 14px;
}
.artist {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotate {
  animation: rotateAnimation 3s infinite linear;
}
